body{background-color: black;
}

p{color: white;}

h1{color: white;}

i{  font-size: 200%;
    background-color: aqua;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 45%;
    padding-right: 45%;

    }
.card-body{background-color: aqua;}
.white-divider {
    border-top: 1px solid white;
  }
form{color: white;
text-align: left;
padding: 10%;}

footer{background-color: aqua;
color: white;
}

nav{background-color: transparent;}

#carouselExample{padding-bottom: 10%;
}
#Destacados{padding-bottom: 3%;}
#Quienes .Somos{padding-bottom: 3%;}
